@import 'nib'

body, html 
  height 100%
  padding 0
  margin 0

a:link
  color #c44

a:visited
  color #a66

body, input
  font-family: "Exo", Helvetica, sans-serif;
  
body
  background url('/img/light_wool.png')
  margin 0
  padding 0

#container
  min-height 100%
  position relative

.clearfix
  clear both

header
  position relative
  z-index 2
  margin 0 auto
  width 1105px
  padding-left 5px
  clear both

  padding-top 0px

  h1 
    font-weight 800
    font-size 28pt
    text-transform uppercase
    padding 10px 0 0 0
    margin 0 
    text-align center
    
  a, a:link, a:visited
    color black
    text-decoration none

  ul
    font-weight 700
    margin 0
    padding 0 
    text-transform uppercase
    list-style-type none
    font-size 15pt

    li
      display inline-block
      padding 3px 12px      
      margin 0


  #page
    float left
    
    .selected
      background #f25d31
      a
        color white
        text-shadow #511 1px 1px 2px

    li:hover:not(.selected)
      a
        color: #f25d31 

  #filter
    float right

    .by 
      font-weight 400
      color #aaa
    overflow hidden
    padding: 5px 5px 0 5px
    margin-top: -5px

    li
      padding 9px 16px 9px 16px      
      z-index 1
      margin 0
      cursor pointer
      &:hover:not(.selected)
        color: #f25d31 

    .selected
      background  linear-gradient(rgba(255,255,255, 0.8), rgba(255,255,255,0.3)), url("/img/subtle_dots_orange.png")
      box-shadow #914028 0px 0px 8px;      
      border-top-left-radius 3px
      border-top-right-radius 3px

      //box-shadow #562618 0px 0px 4px


#main
  perspective: 7000;
  position relative
  margin 0 auto
  width 1100px
  min-height 1100px
  padding-bottom: 150px

#modules
  width 800px
  box-shadow #ccc 0px 2px 5px 2px
  position relative
  transition opacity 0.2s ease-out, transform 0.2s ease-out
  opacity 1

  &.exit
    transform rotateY(90deg)
    opacity 0
    transition opacity 0.2s ease-in, transform 0.2s ease-in

  &.enter
    transform rotateY(-90deg)
    opacity 0

  ol 
    counter-reset item
    list-style-type none
    padding 0
    margin 0 

  li
    margin 0
    padding 10px 0
    background white
    cursor pointer
    position relative

    &:hover
      background #fff4ef

    &:not(:first-child)
      border-top 1px solid #ddd

    p, h3
      margin 0

    .pos 
      font-weight: 200
      font-size 20pt
      display inline-block
      width 80px
      text-align center
      vertical-align middle

      .num:before
        content: "#"
        padding-right 3px
        font-size 13pt

      .score
        font-weight 400
        color #aaa
        font-size 9pt

    .module-info
      display inline-block
      vertical-align middle

      h3
        font-size 18pt
        font-weight 600

        .by 
          font-weight 400
          color #aaa
      
      p
        font-size 15pt
        font-weight 200
        width 600px
        max-height 50px
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

    .gravatar
      position absolute
      right 0
      top 0
      bottom 0

      img
        height 100%
        opacity 0.3
        width 79px
    &:hover
      .gravatar
        img
          opacity 0.9

  .loading
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    opacity 1
    background rgba(255,255,255, 0.8)

#search 
  display none

#tags, #search
  background linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.0)), url("/img/subtle_dots_orange.png")
  box-shadow #914028 0px 1px 7px
  border-radius 2px
  position absolute
  right 0
  padding 10px
  top 0
  width 260px
  text-align jusitfy
  overflow hidden

  #searchTags, #searchSite
    padding 0 0 10px 0

    input
      color #914028  
      border 1px solid #f9a48b
      padding 7px
      width 244px
      font-weight bold
      font-size 12pt

      &::-webkit-input-placeholder
        font-weight normal
        color #f9a48b

      &:focus
        outline 1px solid #f9a48b


  ul
    list-style-type none
    margin 0
    padding 0

    li
      display inline-block
      font-size 12pt
      padding 3px 6px
      margin 1px
      border-radius 3px
      cursor pointer

      a
        color inherit
        text-decoration none
      
      &:hover:not(.selected)
        text-shadow #fff 1px 1px 2px
        background #fcb08a 

      &.selected
        background #f25d31
        color white
        text-shadow #511 1px 1px 2px
        

#moduleInfo
  background white
  border #ccc
  border-radius 4px
  box-shadow 0px 0px 10px #aaa
  margin-top 20px
  width 800px - 40px
  padding 12px 20px

  h2
    font-size 22pt
    margin-top 0px
    margin-bottom 10px

    .v
      font-weight 400
      color #aaa
      padding-left 10px

  div.owner
    float right
    padding 0 0 15px 15px

  p.desc 
    margin 5px 0
    font-size 13pt

  p.link
    margin 0

  h3.tags
    margin 5px 0

  h3.npmlink
    margin 25px 0 5px 0

  p.npmlink
    margin 15px 20px

  section.github
    margin 2px 20px

  ul.tags
    margin 10px 20px
    padding 0

    li.tag
      margin 3px 5px
      padding 2px 4px
      display inline-block
      background #feded5
      border-radius 4px

  p.npm
    margin 25px 0
    background #eee
    padding 3px 10px
    font-family Monaco, Consolas, monospace
    font-size 10pt
    width 400px

    .shell
      color #999

footer
  //position: fixed
  position: absolute
  bottom: 0
  left 0
  right 0
  background: linear-gradient(rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.5)), url("/img/lil_fiber.png")
  border-top 1px solid #aaa
  box-shadow rgba(0,0,0,0.2) 0 0 40px
  height: 60px

  img 
    vertical-align middle

  p
    margin 9px auto
    width 1100px
    font-size 11px
    font-weight bold

  a, a:link, a:active, a:visited
    color #116

  .tm 
    color #444
    text-shadow 1px 1px 1px #eee

  .links
    color #222
    text-shadow 1px 1px 1px #ccc
